html {
    background-color: aliceblue;
}

.title {
    color: orangered;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.nd {
    padding-bottom: 10px;
}

.tua-de {
    color: green;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
}

.sapa {
    color: brown;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
